# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/

# Fichiers temporaires
*.log
*.tmp
*.bak
*.orig

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Secrets (ne jamais committer)
*.key
*.pem
secrets.txt
